.Footer_upper_Section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.FooterEmail {
  width: 30px;
}
.EmailInputSection {
  width: 30%;
}
.ImageInput {
  background-color: white;
  display: flex;
  overflow: hidden;
  border-radius: 29px;
  padding-left: 30px;
  align-items: center;
  justify-content: flex-start;
}

.EmilInputSection {
  width: 28%;
}
.Email_Footer_input {
  width: 79%;
  border: none;
  height: 50px;
}

input {
  color: black;
  outline: none;
}
.EmailHolder {
  width: 100%;
}
.EmailButton {
  border: none;
  height: 100%;
  font-size: 23px;
  width: 100%;
  background-color: transparent;
}
.EmailSendButton {
  width: 106px;
  height: 59px;
  background-color: #da0a2c;
}
.GetAircat > h2 {
  font-size: 38px;
}

.followLinks {
  display: flex;
  gap: 10px;
}

.Footer_middle_Section {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.Contactinfo {
  display: grid;
  padding-top: 80px;
  grid-template-columns: 1fr 1fr 1fr;

  justify-items: center;
}
.lowerfooter {
  width: 70%;
  gap: 10px;
  display: flex;
  align-items: center;
}
.Footer_middle_images > img {
  width: 50px;
}

.Footer_lower_Section {
  display: flex;
  padding: 80px;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.FooterContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.FootermiddleLink {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.QuickLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.FooterLinksoption > ul {
  /* list-style-image: url("../../img/footerarrow.png"); */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 13px;
}

.FooterLinksoption > ul > li::marker {
  background-size: 30px;
  /* content: &RightArrowBar; */
}
.Linksclick {
  list-style-image: url("../../img/footarrow.png");
}
.FooterLinksoption {
  display: flex;
  justify-content: center;
}
.FooterLinksHeading > h2::before {
  content: "|  ";
  color: #da0a2c;
}
.CatalogSection {
  gap: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.CatalogHeading > h2::before {
  content: "|  ";
  color: #da0a2c;
}

@media only Screen and (max-width: 1500px) {
  .FooterContainer {
    grid-template-columns: 1fr;
    gap: 35px;
  }
}
